* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
}

:root {
    --background: #3F0259;
    --text-color: white;
    --button: #00FEED;
    --navbar: #100126;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

form{
    padding: 50px;
}

h1{
    color: var(--button);
    margin-top: 50px;
    margin-left: 8%;
}

header{
    background-color: var(--navbar);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 25px 10%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
}

.logo span {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight:bolder;
    color: var(--button);
}

.main{
    margin-left: 400px;
}

.sidenav{
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--navbar);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav p, a{
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

button{
    background-color: var(--button);
    color: var(--text-color);
    text-decoration: none;
    display: inline-flex;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

table, th, td{
    border: black solid 1px;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

.submit-button{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--button);
    color: var(--background);
    border: none;
}