/* Media Queries */
@media only screen and (max-width: 2500px)  {

    body{
      height: 100%;
      width:100%;
      
    }
  
    nav {
      /* position: relative; */
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #100126;
      color: #100126;
      padding: 10px;
      position: relative;
      overflow-y: hidden;
      width:98.4%;
    }
  
    #Name {
      margin-right: 20px;
      color: #0FF2DB;
      align-self: left;
      font-style: sans-serif;
    }
  
    #Login {
      position: relative;
      left: -80%;
      color: white;
      font-style: sans-serif;
      text-decoration: none;
      background-color: #100126;
      color: white;
      border: none;
      font-size: 2vw;
      box-shadow: 0px 0px 0px 2px 9017BB;
      background-color: #9017BB;
      border-radius: 10px;
      border: 1px solid #9017BB;
      cursor: pointer;
      color: white;
      font-family: Arial;
      font-size: 19px;
      padding: 12px 37px;
      text-decoration: none;
      
    }
  
    #Signup {
      position: relative;
      left: 280px;
      color: white;
      font-style: sans-serif;
      text-decoration: none;
      background-color: #100126;
      color: white;
      border: none;
      font-size: 2vw;
    }
    
  
    #Name {
      margin-left: 150px;
    }
  
    #seconddiv {
      background-image: url(images/loginbg.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: relative;
      color: blue;
      padding: 20px;
      border: 1px solid blue;
      position: absolute;
      height: 100%;
      width: 97%;
      z-index: 99;
      overflow-x: hidden !important;
    }
  
    #Loginform {
      background-color: transparent;
      position: absolute; ;
      top: 180px;
      left: 900px;
      max-width: 200x;
    width: 80%;
    min-width: 50px;
    float:left;
    }
  
    #email, #password, #fname, #lname, #nickname {
      background-color: #350062;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 2px;
      border-color: #AE41B1;
      font-size: 18pt;
      width: 20%;
    }
  
    ::placeholder {
      color: #9D9D9D;
      font-style: sans-serif;
    }
  
    #welcome {
      color: #FFFFFF;
      font-size: 45px;
      position: relative;
      top: 50 px;
      left: 950px;
      font-weight: 1100;
    }
  
    #login1 {
      color: white;
      font-style: sans-serif;
      border-color: #9017BB;
      border-radius: 20px;
      border-style: solid;
      background: #9017BB;
      border-width: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 3px;
      text-decoration: none;
      position: absolute;
      top: 160px;
      left: 125px;
      font-size: 24px;      
    }
  
    #CreateAcc {
      font-style: italic;
      font-size: 40px;
      position: absolute;
      top: 450px;
      left: 1070px;
    }
  
    #or {
      color: #9D9D9D;
      text-transform: uppercase;
      
      font-weight: 700;
      position: absolute;
      top: 400px;
      left: 1100px;
    }
  
    #login1:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  
    #CreateAcc:hover {
      transform: scale(1.2);
    }
  
    #button1 {
      color: white;
      font-style: sans-serif;
      border-color: #9017BB;
      border-radius: 20px;
      border-style: solid;
      background: #9017BB;
      border-width: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 3px;
      text-decoration: none;
      position: absolute;
      margin-left: 153px;
      margin-top: 425px;
      font-size: 24px;
    }
  }
  
  